/* form style */

.add_Info {
	display: none;
	background-color: #e6EEEE;
	width: 1000px;
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	font-size: 11pt;
	text-align: center;
	width: 1000px;
	
	margin:5px 0pt 15px
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 11pt;
	border: 1px solid #FFF;
	padding: 4px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 4px;
}